/ Default app page
!!!
%html(ng-app)
  %head
    %title What is Systems?

    / Manifest css file, see app/assets/stylesheets/application.css
    = stylesheet_link_tag    "application", :media => "all"

    / Manifest js file, see app/assets/javascripts/application.js
    = javascript_include_tag "application"

    = csrf_meta_tags

  %body
    #header
      #title
        = link_to "What is Systems?", page_path("home")
      #top-nav
        .nav-link
          = link_to "COMING HERE", page_path("coming-here")
        .nav-link
          = link_to "THE EXPERIENCE", page_path("the-experience")
        .nav-link
          = link_to "SYSTEMS + WORLD", page_path("systems-plus-world")
        .nav-link
          = link_to "ABOUT", page_path(id: "about")


    / Content will be injected here
    #content
      = yield