/ Default app page
!!!
%html(ng-app)
  %head
    %title What is Systems?

    / Manifest css file, see app/assets/stylesheets/application.css
    = stylesheet_link_tag    "application", :media => "all"

    / Manifest js file, see app/assets/javascripts/application.js
    = javascript_include_tag "application"

    = csrf_meta_tags

  %body
    #header
      #title
        = link_to "What is Systems?", page_path("home")
      #top-nav
        = link_to page_path("coming-here") do
          .nav-link COMING HERE
        = link_to page_path("the-experience") do
          .nav-link THE EXPERIENCE
        = link_to page_path("systems-plus-world") do
          .nav-link SYSTEMS + WORLD
        = link_to page_path(id: "about") do
          .nav-link ABOUT


    / Content will be injected here
    #content
      = yield